#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <38 0>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <38 12>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <27 14>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <28 14>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <8 20>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <32 20>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 19>;
        };

        minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <31 19>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <30 18>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 32>;
        };

        ctrlz {
            bindings = <&kp LG(Z)>;
            key-positions = <25 14>;
        };

        all {
            bindings = <&kp LG(A)>;
            key-positions = <14 13>;
        };

        leftnumber {
            bindings = <&mo 1>;
            key-positions = <14 15>;
        };

        rightnumb {
            bindings = <&mo 2>;
            key-positions = <20 21>;
        };

        scrollup {
            bindings = <&msc SCRL_UP>;
            key-positions = <17 5>;
        };

        scrolldown {
            bindings = <&msc SCRL_DOWN>;
            key-positions = <17 29>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E             &kp R             &kp T        &kp Y      &kp U          &kp I         &kp O    &kp P     &kp BACKSPACE
&kp TAB     &kp A  &kp S  &kp D             &hm LEFT_SHIFT F  &kp G        &kp H      &kp J          &kp K         &kp L    &kp SEMI  &kp RET
&kp LCTRL   &kp Z  &kp X  &kp C             &kp V             &kp B        &kp N      &kp M          &kp COMMA     &kp DOT  &kp FSLH  &kp SQT
                          &kp LC(LEFT_GUI)  &mkp MB1          &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp LEFT_ALT
            >;
        };

        leftnum {
            bindings = <
&kp LS(TILDE)  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &trans  &trans  &trans  &trans  &trans  &trans
&kp GRAVE      &kp N1        &kp N2      &kp N3         &kp N4        &kp N5           &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans        &trans      &trans         &trans        &trans           &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans         &trans        &trans           &trans  &trans  &trans
            >;
        };

        rightnum {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp N6         &kp N7        &kp N8        &kp N9        &kp N0        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &trans        &trans        &trans        &trans        &trans
                        &trans  &trans  &trans    &trans         &trans        &trans
            >;
        };

        device {
            bindings = <
&trans          &trans  &trans  &trans  &trans  &bt BT_PRV    &bt BT_CLR  &trans  &trans  &trans  &trans  &trans
&studio_unlock  &trans  &trans  &trans  &trans  &bt BT_NXT    &trans      &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans        &trans      &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans        &trans      &trans  &trans
            >;
        };

        numbpad {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                        &kp N0  &trans  &trans    &trans  &trans  &kp N0
            >;
        };

        dirc {
            bindings = <
&trans  &trans  &trans    &kp UP_ARROW    &trans     &trans    &trans  &trans    &kp UP_ARROW    &trans     &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans    &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans  &trans    &trans          &trans     &trans    &trans  &trans    &trans          &trans     &trans  &trans
                          &trans          &trans     &trans    &trans  &trans    &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
